.container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 100px;
    width: 90%;
    margin:auto;
    gap: 10px;
}
.container > .box{
    border: 1px solid red;
    border-radius:  4px;
    height: 100%;
    word-wrap: break-word;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.desc{
    word-break: break-word;
}
button{
    height: 100%;
}

#fetch, #dblookup, #webserver, 
#formulateResponse, #responseBack, #frontEndRender{
    height: 100%;
    grid-row: 2/3;
    width: 1%;

}

.body > div{
    border: 4px solid blue;
    margin: 100px 0;
    font-size: larger;
}